# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
# Copy of mainsail.cfg - Uncommented changed values
#variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : .5    ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 45.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 40.0  ; unretract speed in mm/s
variable_speed_hop        : 30.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 600     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor my_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function

gcode:


[gcode_macro _km_options]
# Copy from globals.cfg.  Commented out unchanged items

# Available bed surfaces for offset adjustments.
#variable_bed_surface_max_name_length: 10
# Available bed surfaces for offset adjustments.
variable_bed_surfaces: ['smooth_1','texture_1']
# Total length (in mm) of filament to load (bowden tubes will be much longer).
variable_load_length: 100.0
# Global minimum extruder temp for loading (default: min_extrude_temp + 5).
variable_load_min_temp: 210
# Length (in mm) of the extruder meltzone (feeds at priming speed).
variable_load_priming_length: 20.0
# Filament priming speed (in mm/m).
variable_load_priming_speed: 600
# Filament loading speed (in mm/m).
variable_load_speed: 800
# Set to False to hide the Octoprint LCD menus.
variable_menu_show_octoprint: False
# Set to False to hide the SD Card LCD menus.
#variable_menu_show_sdcard: True
# List up to 10 pre-heat settings in order for the LCD "Temperature" menu
variable_menu_temperature: [
  {'name' : 'PLA',  'extruder' : 210.0, 'bed' : 60.0},
  {'name' : 'PETG', 'extruder' : 230.0, 'bed' : 85.0}]
# X position to park toolhead (set "max" or "min" to infer from stepper config).
#variable_park_x: 0.0
# Y position to park toolhead (set "max" or "min" to infer from stepper config).
#variable_park_y: 0.0
# Z position to park toolhead (set "max" or "min" to infer from stepper config).
#variable_park_z: 20.0
# Minimum printable XY coordinate. Defaults to X and Y position_min.
#variable_print_min: () # example: (0, 0)
# Maximum printable XY coordinate. Defaults to X and Y position_max.
#variable_print_max: () # example: (220, 220)
# Scaling factor for M900 command (negative values make M900 a no-op).
#variable_pressure_advance_scale: -1.0
# Additional padding around the specified print area for a bed mesh.
#variable_probe_mesh_padding : 5.0
# Minimum number of probes for partial probing of a bed mesh.
#variable_probe_min_count: 3
# Scaling factor to increase probe count for partial bed probes.
#variable_probe_count_scale: 1.0
# Additional delay (in ms) during bed heating, to allow the bed to stabilize.
#variable_start_bed_heat_delay: 2000
# Amount (in degrees C) to overshoot bed target temp before stabilizing.
#variable_start_bed_heat_overshoot: 2.0
# Set to clear adjustments (e.g. feedrate, extrusion, heater) at end of print.
variable_start_clear_adjustments_at_end: True
# PRINT_END Y park position (set "max" or "min" to infer from stepper config).
variable_start_end_park_y: 250.0 # Defaults to print_max Y.
# Extruder scale factor during pre-warmup in PRINT_START.
#variable_start_extruder_preheat_scale: 0.5
# If non-zero the extruder will stabilize at this temp before probing the bed.
variable_start_extruder_probing_temp: 200
# Set to rehome Z in PRINT_START after bed temp stabilizes; False to disable.
variable_start_home_z_at_temp: True
# Set to level bed in PRINT_START after bed temp stabilizes; False to disable.
variable_start_level_bed_at_temp: True
# Distance (in millimeters) between the purge lines and the print area.
#variable_start_purge_clearance: 2.0
# Length of filament (in millimeters) to purge at print start.
variable_start_purge_length: 30 # 30 is a good starting point.
# Length of filament (in millimeters) to prime before drawing purge lines.
#variable_start_purge_prime_length: 12.0
# Level gantry in PRINT_START after bed temp stabilizes; False to disable.
#variable_start_quad_gantry_level_at_temp: True
# Maximum distance to relocate print in random XY location to reduce bed wear.
#variable_start_random_placement_max: 0
# The relocation will be at least this far from the printable edge of the bed.
#variable_start_random_placement_padding: 10.0
# Skip level and load saved mesh for current sheet (if found); False to disable.
variable_start_try_saved_surface_mesh: False
# Adjust Z tilt in PRINT_START after bed temp stabilizes; False to disable.
#variable_start_z_tilt_adjust_at_temp: True
# X and Y travel speed (in mm/m) for movement macros.
variable_travel_speed_xy: 2000
# Z travel speed in (mm/m) for movement macros.
#variable_travel_speed_z: 600
gcode: # This line is required by Klipper.

# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
[include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: ~/printer_data/gcodes  # UPDATE THIS FOR YOUR PATH!!!

[display_status]
